<h1>Log in</h1>
<%= form_with url: login_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: 'off'%>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'off'%>
  </div>
  <div>
    <%= f.submit 'Log in' %>
  </div>
<% end %>