<section class='pt-5 mt-4'>

  <header class='d-flex justify-content-between align-items-center'>
    <h1><%= t('.header') %></h1>
    <%= link_to t('.new_transaction'), new_transaction_path, class: 'btn btn-primary d-none d-sm-inline-block' %>
  </header>

  <div id="transactions">
    <% @transactions.each do |transaction| %>
      <%= link_to transaction, class: 'text-black link-underline link-underline-opacity-0' do %>
        <%= render transaction %>
      <% end %>
    <% end %>
  </div>
</section>
<div class='d-grid fixed-bottom p-4 d-sm-none'>
  <%= link_to t('.log'), new_transaction_path, class: 'btn btn-primary py-3 rounded-pill shadow fs-6 fw-bold' %>
</div>
